### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.class
account-service/target
account-service/account-service.iml
order-service/target
order-service/account-service.iml
storage-service/target
storage-service/account-service.iml

*.log
.settings
.project
